doctype html
html
    head
        title "Hello World!"
        script(src="https://unpkg.com/htmx.org@2.0.1")

    body
        header
            h1 Hello World!
        include partials/partial.pug

        div(hx-get="/htmx", hx-swap="outerHTML")
            p gghghggg
            //- TODO: Figure out why this doesn't fucking work
        button(hx-post="/clicked", hx-swap="outerHTML")
            p click me
